The objective of this notebook is to output the passing and rushing leaders (if they're in the top 50) for the teams with the largest O/U and handicap.

In [1]:
from datetime import date
import pandas as pd

In [2]:
# import data
lines = pd.read_csv("data/2021-10-02-cfb-lines.csv")
qbs = pd.read_csv("data/2021-10-02-qb-records.csv")
rbs = pd.read_csv("data/2021-10-02-rb-records.csv")
wrs = pd.read_csv("data/2021-10-02-wr-records.csv")

In [3]:
# clean data
qbs_clean = qbs[['NAME','ABBRV','CMP','ATT','TD','INT','RTG']]
rbs_clean = rbs[['NAME', 'ABBRV','ATT','YDS','TD']]
wrs_clean = wrs[['NAME','ABBRV','REC','YDS','TD']]

In [4]:
# 15 largest favourites
big_favs = lines.sort_values('LINE').head(15)

# Top 10 highest O/U games
hi_sc_games = lines.sort_values('O/U', ascending=False).head(20)

In [5]:
# Join on QBs/RBs/WRs by the abbreviation?
big_favs_qb = big_favs.merge(qbs_clean)
big_favs_rb = big_favs.merge(rbs_clean)
big_favs_wr = big_favs.merge(wrs_clean)

hi_sc_qb = hi_sc_games.merge(qbs_clean)
hi_sc_rb = hi_sc_games.merge(rbs_clean)
hi_sc_wr = hi_sc_games.merge(wrs_clean)

In [6]:
big_favs_qb

,GAME_ID,TEAM,RECORD,O/U,LINE,ABBRV,NAME,CMP,ATT,TD,INT,RTG
0,44,Iowa State Cyclones,2-2 (1-3-0),57.0,-34.5,ISU,Brock Purdy,77,110,4,4,142.5
1,15,Coastal Carolina Chanticleers,4-0 (2-1-1),57.5,-33.5,CCU,Grayson McCall,56,73,8,1,213.8
2,55,San José State Spartans,2-2 (1-3-0),52.5,-26.0,SJSU,Nick Starkel,69,137,6,5,118.3
3,31,SMU Mustangs,4-0 (3-1-0),68.5,-21.0,SMU,Tanner Mordecai,98,139,20,5,187.4
4,5,North Carolina Tar Heels,2-2 (2-2-0),72.5,-20.0,UNC,Sam Howell,77,121,11,4,168.5
5,20,Ohio State Buckeyes,3-1 (1-2-1),58.0,-15.0,OSU,C.J. Stroud,63,101,8,3,162.7
6,17,Alabama Crimson Tide,4-0 (2-1-0),79.5,-14.5,ALA,Bryce Young,88,122,15,1,188.5

In [7]:
big_favs_rb

,GAME_ID,TEAM,RECORD,O/U,LINE,ABBRV,NAME,ATT,YDS,TD
0,44,Iowa State Cyclones,2-2 (1-3-0),57.0,-34.5,ISU,Breece Hall,87,428,6
1,37,UTSA Roadrunners,4-0 (4-0-0),56.0,-21.0,UTSA,Sincere McCormick,103,452,5
2,5,North Carolina Tar Heels,2-2 (2-2-0),72.5,-20.0,UNC,Ty Chandler,62,370,3
3,20,Ohio State Buckeyes,3-1 (1-2-1),58.0,-15.0,OSU,TreVeyon Henderson,46,439,6

In [8]:
big_favs_wr

,GAME_ID,TEAM,RECORD,O/U,LINE,ABBRV,NAME,REC,YDS,TD
0,15,Coastal Carolina Chanticleers,4-0 (2-1-1),57.5,-33.5,CCU,Jaivon Heiligh,21,464,4
1,7,Toledo Rockets,2-2 (2-2-0),56.5,-27.0,TOL,Devin Maddox,16,329,2
2,37,UTSA Roadrunners,4-0 (4-0-0),56.0,-21.0,UTSA,Zakhari Franklin,29,397,4
3,31,SMU Mustangs,4-0 (3-1-0),68.5,-21.0,SMU,Danny Gray,20,358,5
4,5,North Carolina Tar Heels,2-2 (2-2-0),72.5,-20.0,UNC,Josh Downs,32,452,5
5,20,Ohio State Buckeyes,3-1 (1-2-1),58.0,-15.0,OSU,Garrett Wilson,23,391,3

In [9]:
hi_sc_qb

,GAME_ID,TEAM,RECORD,O/U,LINE,ABBRV,NAME,CMP,ATT,TD,INT,RTG
0,17,Alabama Crimson Tide,4-0 (2-1-0),79.5,-14.5,ALA,Bryce Young,88,122,15,1,188.5
1,5,Duke Blue Devils,3-1 (3-1-0),72.5,20.0,DUKE,Gunnar Holmberg,93,129,3,2,150.9
2,5,North Carolina Tar Heels,2-2 (2-2-0),72.5,-20.0,UNC,Sam Howell,77,121,11,4,168.5
3,31,SMU Mustangs,4-0 (3-1-0),68.5,-21.0,SMU,Tanner Mordecai,98,139,20,5,187.4
4,42,Marshall Thundering Herd,2-2 (2-2-0),66.0,-10.5,MRSH,Grant Wells,96,150,5,5,145.6
5,46,Michigan State Spartans,4-0 (2-2-0),66.0,-10.5,MSU,Payton Thorne,62,100,10,1,169.4
6,46,Western Kentucky Hilltoppers,1-2 (3-0-0),66.0,10.5,WKU,Bailey Zappe,87,119,13,2,192.2
7,56,Fresno State Bulldogs,4-1 (4-1-0),64.5,-11.0,FRES,Jake Haener,136,186,15,2,180.8
8,26,East Carolina Pirates,2-2 (1-3-0),64.5,3.0,ECU,Holton Ahlers,80,138,5,5,122.2
9,56,Hawai'i Rainbow Warriors,2-3 (2-2-0),64.5,11.0,HAW,Chevan Cordeiro,101,185,7,6,124.6

In [10]:
hi_sc_rb

,GAME_ID,TEAM,RECORD,O/U,LINE,ABBRV,NAME,ATT,YDS,TD
0,5,Duke Blue Devils,3-1 (3-1-0),72.5,20.0,DUKE,Mataeo Durant,87,522,8
1,5,North Carolina Tar Heels,2-2 (2-2-0),72.5,-20.0,UNC,Ty Chandler,62,370,3
2,42,Marshall Thundering Herd,2-2 (2-2-0),66.0,-10.5,MRSH,Rasheen Ali,63,376,8
3,8,Texas Longhorns,3-1 (3-1-0),65.0,-4.0,TEX,Bijan Robinson,70,436,5
4,56,Fresno State Bulldogs,4-1 (4-1-0),64.5,-11.0,FRES,Ronnie Rivers,76,346,3
5,26,East Carolina Pirates,2-2 (1-3-0),64.5,3.0,ECU,Keaton Mitchell,45,352,2

In [11]:
hi_sc_wr

,GAME_ID,TEAM,RECORD,O/U,LINE,ABBRV,NAME,REC,YDS,TD
0,5,Duke Blue Devils,3-1 (3-1-0),72.5,20.0,DUKE,Jake Bobo,34,385,0
1,5,North Carolina Tar Heels,2-2 (2-2-0),72.5,-20.0,UNC,Josh Downs,32,452,5
2,31,SMU Mustangs,4-0 (3-1-0),68.5,-21.0,SMU,Danny Gray,20,358,5
3,42,Marshall Thundering Herd,2-2 (2-2-0),66.0,-10.5,MRSH,Corey Gammage,25,365,0
4,46,Michigan State Spartans,4-0 (2-2-0),66.0,-10.5,MSU,Jayden Reed,16,336,4
5,46,Western Kentucky Hilltoppers,1-2 (3-0-0),66.0,10.5,WKU,Jerreth Sterns,23,360,4
6,56,Fresno State Bulldogs,4-1 (4-1-0),64.5,-11.0,FRES,Jalen Cropper,39,455,8
7,56,Fresno State Bulldogs,4-1 (4-1-0),64.5,-11.0,FRES,Josh Kelly,23,401,2
8,56,Hawai'i Rainbow Warriors,2-3 (2-2-0),64.5,11.0,HAW,Nick Mardner,22,459,3
9,56,Hawai'i Rainbow Warriors,2-3 (2-2-0),64.5,11.0,HAW,Calvin Turner Jr.,27,360,1

In [19]:
# Export from Python to Excel
todays_date = str(date.today())
writer = pd.ExcelWriter('data/output-' + todays_date + '.xlsx', engine='xlsxwriter')

# big favs
big_favs_qb.to_excel(writer, sheet_name = 'favs_qb')
big_favs_rb.to_excel(writer, sheet_name = 'favs_rb')
big_favs_wr.to_excel(writer, sheet_name = 'favs_wr')

# high scores
hi_sc_qb.to_excel(writer, sheet_name = 'hi_scr_qb')
hi_sc_rb.to_excel(writer, sheet_name = 'hi_scr_rb')
hi_sc_wr.to_excel(writer, sheet_name = 'hi_scr_wr')

# all data
qbs_clean.to_excel(writer, sheet_name = 'base_qb')
rbs_clean.to_excel(writer, sheet_name = 'base_rb')
wrs_clean.to_excel(writer, sheet_name = 'base_wr')

# Close the Pandas Excel writer and output the Excel file.
writer.save()